## References
- [Introduction to Restricted Boltzmann Machines Using PyTorch](https://heartbeat.fritz.ai/guide-to-restricted-boltzmann-machines-using-pytorch-ee50d1ed21a8)

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [2]:
movies = pd.read_csv('../ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('../ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('../ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [3]:
training_set = pd.read_csv('../ml-100k/u1.base', delimiter = '\t', header=None)
test_set = pd.read_csv('../ml-100k/u1.test', delimiter = '\t', header=None)
training_set.columns = ['user id', 'movie id', 'rating', 'timestamp']
test_set.columns = ['user id', 'movie id', 'rating', 'timestamp']

In [4]:
training_set

       user id  movie id  rating  timestamp
0            1         1       5  874965758
1            1         2       3  876893171
2            1         3       4  878542960
3            1         4       3  876893119
4            1         5       3  889751712
...        ...       ...     ...        ...
79995      943      1067       2  875501756
79996      943      1074       4  888640250
79997      943      1188       3  888640250
79998      943      1228       3  888640275
79999      943      1330       3  888692465

[80000 rows x 4 columns]

In [5]:
test_set

       user id  movie id  rating  timestamp
0            1         6       5  887431973
1            1        10       3  875693118
2            1        12       5  878542960
3            1        14       5  874965706
4            1        17       3  875073198
...        ...       ...     ...        ...
19995      458       648       4  886395899
19996      458      1101       4  886397931
19997      459       934       3  879563639
19998      460        10       3  882912371
19999      462       682       5  886365231

[20000 rows x 4 columns]

In [6]:
training_set = np.array(training_set, dtype = 'int')
test_set = np.array(test_set, dtype = 'int')

In [7]:
# Number of users and movies
no_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
no_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

In [8]:
def convert(data):
    new_data = []
    for id_users in range(1, no_users + 1):
        id_movies = data[:,1][data[:,0] == id_users]
        id_ratings = data[:,2][data[:,0] == id_users]
        ratings = np.zeros(no_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [9]:
training_set = convert(training_set)
test_set = convert(test_set)

In [10]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [11]:
training_set[training_set == 0] = -1
training_set[training_set == 1] = 0
training_set[training_set == 2] = 0
training_set[training_set >= 3] = 1
test_set[test_set == 0] = -1
test_set[test_set == 1] = 0
test_set[test_set == 2] = 0
test_set[test_set >= 3] = 1

In [12]:

class RBM():
    def __init__(self, nv, nh):
        self.W = torch.randn(nh, nv)
        self.a = torch.randn(1, nh)
        self.b = torch.randn(1, nv)

    def sample_h(self, x):
        wx = torch.mm(x, self.W.t())
        activation = wx + self.a.expand_as(wx)
        p_h_given_v = torch.sigmoid(activation)
        return p_h_given_v, torch.bernoulli(p_h_given_v)

    def sample_v(self, y):
        wy = torch.mm(y, self.W)
        activation = wy + self.b.expand_as(wy)
        p_v_given_h = torch.sigmoid(activation)
        return p_v_given_h, torch.bernoulli(p_v_given_h)

    def train(self, v0, vk, ph0, phk):
        # self.W += torch.mm(v0.t(), ph0) - torch.mm(vk.t(), phk)
        self.W += torch.mm(ph0.t(), v0) - torch.mm(phk.t(), vk)
        self.b += torch.sum((v0 - vk), 0)
        self.a += torch.sum((ph0 - phk), 0)

In [13]:
nv = len(training_set[0])
nh = 200
batch_size = 100
rbm = RBM(nv, nh)

In [14]:

nb_epoch = 10
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(0, no_users - batch_size, batch_size):
        vk = training_set[id_user:id_user+batch_size]
        v0 = training_set[id_user:id_user+batch_size]
        ph0,_ = rbm.sample_h(v0)
        for k in range(10):
            _,hk = rbm.sample_h(vk)
            _,vk = rbm.sample_v(hk)
            vk[v0<0] = v0[v0<0]
        phk,_ = rbm.sample_h(vk)
        rbm.train(v0, vk, ph0, phk)
        train_loss += torch.mean(torch.abs(v0[v0>=0] - vk[v0>=0])).item()
        s += 1.
    print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

epoch: 1 loss: 0.3712477452225155
epoch: 2 loss: 0.25671754280726117
epoch: 3 loss: 0.24720947278870475
epoch: 4 loss: 0.24556084473927817
epoch: 5 loss: 0.24753100507789189
epoch: 6 loss: 0.24714389277829063
epoch: 7 loss: 0.25035982661777073
epoch: 8 loss: 0.24647252923912472
epoch: 9 loss: 0.24474561545583937
epoch: 10 loss: 0.24575813776916927

In [15]:
# Testing the RBM Model
test_loss = 0
s = 0.
for id_user in range(no_users):
    v = training_set[id_user:id_user+1]
    vt = test_set[id_user:id_user+1]
    if len(vt[vt>=0]) > 0:
        _,h = rbm.sample_h(v)
        _,v = rbm.sample_v(h)
        test_loss += torch.mean(torch.abs(vt[vt>=0] - v[vt>=0])).item()
        s += 1.
print('test loss: '+str(test_loss/s))

test loss: 0.2518928461588416